*{
    box-sizing: border-box;
}
body{
    background-color: rgb(164, 116, 226);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.formulaire{}
.formulaire__div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.formulaire fieldset{
    margin: 25px 0;
    border: 1px dotted #0000004d;
}

.formulaire__submit{
    font-size: 20px;
    background-color: black;
    color: aquamarine;
}

.formulaire__titre{
    text-align: center;
    font-size: 40px;
}