.menu{
    position: fixed;
    width: 500px;
    top: 20 px;
    right: 20 px;
}

.menu__a{
    display: inline-block;
    padding: 5px 10px;
    background-color: rgb(136, 13, 13);
    color: #000000;
    text-decoration: none;
}

#chk-burger{
    display: none;
}

.navigation{
    position: fixed;
    top: 20px;
    right: 20px;
    text-align: right;
}

.navigation__menu{
    transform: translateX(120%);
    transition: transform 1.5s cubic-bezier(.96,-0.73,.29,1.53);
}

.navigation__menu{
    background-color: #0000005d;
    padding: 10px;
}

.navigation__menu a{
    display: block;
    text-decoration: none;
    background-color: #ffffff5d;
    padding: 4px;
    margin: 5px;
    color: white;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#chk-burger:checked ~ .navigation__menu{
    transform: translateX(0);
}