.tableau__quatre{
    max-width: 1100px;
    margin: 30px auto;
    font-size: 200px;
    color: white;
    background-color: rgba(0, 0, 0, 0.349);
}

td,th{
    border: 1px solid #0000005d;
    font-size: 2rem;
    padding: 5px;
    text-align: left;
    font-size: 85px;
    border-color: #fdfdfd;
    color: white;
    background-color: rgba(0, 0, 0, 0.432);
}

th{
    font-style: italic;
    font-weight: bold;
}

caption{
    font-size: 3rem;
    padding: 7px;
    border: 1px solid #0000005b;
}

tbody tr:nth-of-type(odd){
    background-color: #0000004b;
}